html{
  font-family: 'Lucida Grande', 'Lucida Sans Unicode',sans-serif;
  background: #fefefa;
  color: #444;
  background-position: left top;
}

#main{
  padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: helvetica,arial,sans-serif;
  font-weight:bold;
  text-shadow: 1px 1px 1px #bbb;
  filter: dropshadow(color=#bbb, offx=1, offy=1);
}
h1{
  font-size:30px;
}
h2{
  font-size:24px;
}
h3{
  font-size:14px; 
}

a {
  text-decoration: underline;
  color: #17649A;
}

a:hover{
  color: #40B3DF;
}

a, input[type='submit']{
  cursor: pointer;
}

td{
  padding: 5px;
}

header{
  background: #17649A; /* Old browsers */
  width: 100%;
}

header img{
  padding-top: 10px;
}

header .title h1{
  font-size: 280%;
  color: #fff;
}

header #nav{
  float: right;
  text-align: right;
}

ul#tabs { 
  float: right; 
  margin: 0px;
}
ul#tabs li {
  list-style: none;
  float:left; 
  background:none;
}

ul#tabs>li>a {
  text-decoration:none;
  font-weight:bold;
  font-size: 18px;
  text-shadow: 1px 1px 1px #444;
  filter: dropshadow(color=#444, offx=1, offy=1);
  color: #fff;
  float:left;
  height:70px;
  line-height:70px;
  padding: 0 20px;
}
    
ul#tabs li a:hover { 
  color: #fff;
  background: #1b242d;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b242d', endColorstr='#2d3d4c',GradientType=0 );/* IE6-9 */
  background: rgba(0,0,0,0.2);
  
}

.box_round{
     -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
          border-radius: 5px; 
        
        
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

.box_shadow{
     -moz-box-shadow: 1px 1px 2px #444; 
  -webkit-box-shadow: 1px 1px 2px #444; 
          box-shadow: 1px 1px 2px #444; 
}

.border{
  
}

.box {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #eee;
}

.first{
  margin-left: 0px;
}

.last{
  margin-right: 0px;
}

.lone{
  margin-left: 0px;
  margin-right: 0px;
}