html{
  font-family: sans-serif;
  background: #fffef4;
  color: #444;
  background-position: left top;
  background-image: url('/images/bg.png');
}

#main{
  padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: arial,sans-serif;
  font-weight:bold;
  text-shadow: 1px 1px 1px #bbb;
  filter: dropshadow(color=#bbb, offx=1, offy=1);
}
h1{
  font-size:40px;
}
h2{
  font-size:34px;
}
h3{
  font-size:24px; 
}

a {
  text-decoration: underline;
  color: #17649A;
}

a:hover{
  color: #40B3DF;
}

a, input[type='submit']{
  cursor: pointer;
}

td{
  padding: 5px;
}

header{
  background: #17649A; /* Old browsers */
  background-image: url('/images/header_bg.png');
  width: 100%;
}

header img{
  padding-top: 10px;
}

header .title h1{
  font-size: 280%;
  color: #fff;
}

header #nav{
  float: right;
  text-align: right;
}

ul#tabs { 
  float: right; 
  margin: 0px;
}
ul#tabs li {
  list-style: none;
  float:left; 
  background:none;
}

ul#tabs>li>a {
  text-decoration:none;
  font-weight:bold;
  font-size: 18px;
  text-shadow: 1px 1px 1px #444;
  filter: dropshadow(color=#444, offx=1, offy=1);
  color: #fff;
  float:left;
  height:70px;
  line-height:70px;
  padding: 0 20px;
}
    
ul#tabs li a:hover { 
  color: #fff;
  background: #1b242d;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b242d', endColorstr='#2d3d4c',GradientType=0 );/* IE6-9 */
  background: rgba(0,0,0,0.2);
  
}

.box_round{
     -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
          border-radius: 5px; 
        
        
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

.box_shadow{
     -moz-box-shadow: 1px 1px 2px #444; 
  -webkit-box-shadow: 1px 1px 2px #444; 
          box-shadow: 1px 1px 2px #444; 
}

.border{
  
}

.box {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #eee;
}

.first{
  margin-left: 0px;
}

.last{
  margin-right: 0px;
}

.lone{
  margin-left: 0px;
  margin-right: 0px;
}

.textured_box{
   border: 1px solid #e9e9ce;
   background-color: #fcfff4;
   border-radius: 4px;
   background: #fcfff4; /* Old browsers */
   background: -moz-linear-gradient(top, #fcfff4 0%, #e9e9ce 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* Opera11.10+ */
   background: -ms-linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* IE10+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
   background: linear-gradient(top, #fcfff4 0%,#e9e9ce 100%); /* W3C */
   color: #17649A;
   text-shadow: 0 1px #fff;
}

.textured_box h3{
   color: #17649A;
   text-shadow: 1px 1px 1px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=1);
}

.selected.textured_box{
  border: 1px solid #E2E1B5;
  background: #dfed9a; /* Old browsers */
  background: -moz-linear-gradient(top, #dfed9a 0%, #94c613 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfed9a), color-stop(100%,#94c613)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dfed9a 0%,#94c613 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dfed9a 0%,#94c613 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #dfed9a 0%,#94c613 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfed9a', endColorstr='#94c613',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #dfed9a 0%,#94c613 100%); /* W3C */
}

.textured_box:hover h3{
  color: #40B3DF;
}

.grid4.product{
  width: 298px;
}

.product {
  height: 70px;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
  z-index: 0;
}

.product h3{
  font-size: 18px;
  padding: 10px;
}

.table {
  display: table;
  float: left;
}
.cell{
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  padding: 10px;
}

img.thumb{
  width: 50px;
  vertical-align: middle;
}

.select_all{
  line-height: 35px;
  margin-left: 10px;
  padding-left: 10px;
  float: right;
}