<div class="grid8 first">
  <div class="box box_round box_shadow border">
    <h1>Awesome!</h1>
  </div>
</div>

<div class="grid4 last">
  <div class="box box_round box_shadow border">
    <h1>Stuff</h1>
  </div>
</div>